.add-recepie {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 50vw;
  min-width: 400px;
  display: flex;
  flex-direction: row;
}

.add-recepie .large-title {
  color: black;
  font-size: 24px;
  font-weight: bolder;
}

.add-recepie .card {
  padding: 24px;
}

.add-recepie .file-image-preview {
  width: 100%;
  height: auto;
  min-height: 100px;
  margin-top: 8px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  overflow: hidden;
}

.add-recepie .file-image-preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 50vh;
}

.preview-container {
  padding: 24px;
}