.navbar {
  background-color: white;
  height: 80px;
  box-shadow: 0px 2px 4px #00000022;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: sticky;
  top: 0; */
  z-index: 999;
  flex: 1;
}

.nav-profile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #dddddd;
}

.nav-profile .username {
  font-size: 0.8em;
  padding: 0.2em 1.5em;
}

.nav-profile .logout {
  font-size: 0.9em;
  cursor: pointer;
  padding: 0.5em 1.5em;
  font-weight: bold;
  border-top: 1px solid #e9e9e9;
}


.nav-profile .logout:hover {
  background-color: #96000022;
}


.container {
  padding-left: 6vw;
  padding-right: 6vw;
}

.brand-name {
  font-weight: bold;
  font-size: 1.4em;
  color: #960000;
  letter-spacing: 0.2em;
  font-family: "Oswald";
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #960000;
  border: none;
}

.searchbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.searchbar input {
  border: 1px solid #afafaf;
  padding: 0.7em 1em;
  border-radius: 20px;
  min-width: 16em;
  padding-right: 3em;
}

.searchbar .icon {
  position: absolute;
  top: 15%;
  right: 0;
  height: 70%;
  width: 50px;
  cursor: pointer;
  color: #808080;
}

.searchbar .icon:hover {
  color: #404040;
}

.searchbar input:focus {
  outline: none;
  border: 1px solid #404040;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald/Oswald-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

.page {
  min-height: 50vh;
  position: relative;
}

/* 
  Login/Register
*/

.login-card {
  padding: 40px;
  padding-top: 64px;
  padding-bottom: 64px;
  margin: auto;
  width: 400px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.login-card .title {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Poppins";
  text-align: center;
}

.card {
  box-shadow: 0px 1px 4px #00000022;
  border-radius: 10px;
}

.list-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.chip-container {
  margin-top: 0.2em;
  display: flex;
  flex-wrap: wrap;
}

.chip-item {
  margin: 2px;
  padding: 0.4em 0.6em 0.4em 0.8em;
  border-radius: 1em;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: bold;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
}

.chip-item .close-button {
}

.clickable-icon {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #f9f9f9;
  border-radius: 8px;
  min-width: 100px;
  box-shadow: 0px 2px 8px #0002;
  z-index: 1;
  transform: translateX(50%);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.admin-table {
  width: 100%;
  text-align: left;
}

.admin-table th, td {
  padding: 0.4em 1em;
  background-color: #f9f9f9;
}

.admin-table th {
  background-color: #f0f0f0;
}