.filter-wrapper {
    background-color: #f9f9f9;
    box-shadow: #0001 0px 2px 2px;
    position: sticky;
    top: 0;
    margin-top: 1px;
    padding-bottom: 12px;
}

.filter-wrapper .title {
    margin-top: 32px;
    color: #960000;
    font-weight: bold;
    margin-right: 24px;
}

.filter-wrapper .filter-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-wrapper .filter-option {
    flex: 1;
    margin-right: 1em;
    margin-left: 1em;
}

.filter-wrapper .submit-button {
    font-size: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 36px;
    min-height: 32px;
}

.filter-wrapper .add-button {
    position: absolute;
    top: 22px;
    right: 6px;
    cursor: pointer;
}