.footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  margin-bottom: 80px;
}

.footer .main-container {
  display: flex;
  flex-direction: row;
}

.footer .content-block {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.footer .title {
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Oswald";
  letter-spacing: 0.05em;
}

.footer a {
  color: #808080;
  margin: 4px;
  font-size: 0.9em;
}
