/* 
  Buttons
*/

.primary-button, .primary-button-sm {
  background-color: #960000;
  color: #ffffff;
  min-height: 48px;
  border: none;
  font-family: "Poppins";
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.primary-button:focus,.primary-button-sm:focus {
  outline: none;
}

.primary-button:active, .primary-button-sm:active {
  background-color: #690101;
}

.primary-button-sm {
  min-height: 32px;
}

.primary-button-outlined {
  background-color: transparent;
  color: #960000;
  font-size: 0.8em;

}

.secondary-button {
  color: #555;
  font-weight: 600;
  font-size: 0.8em;
  font-family: "Poppins";
  cursor: pointer;
}

/* 
    Input
  */
.input-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-container label {
  font-size: 0.8em;
}

.input-container input, textarea, select {
  border: 1px solid #c2c2c2;
  border-radius: 10px;
  padding: 0.8em 1em;
  font-family: "Poppins";
}

.input-container textarea {
  min-height: 15em;
}

.input-container input,textarea,select:focus {
  outline: none;
}

.input-sm label {
  font-size: 0.7em;
  font-weight: bold;
}

.input-sm input {
  padding: 0.4em 0.8em;
}