.home {
}

.home .images-container {
  display: flex;
  height: 70vh;
  flex-direction: row;
  margin-top: 20px;
}

.home .images-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 2px 4px #00000022;
}

.home .images-container .left {
  flex: 0.55;
  transform: translateX(-20px);
}

.home .images-container .mid {
  flex: 1;
}

.home .images-container .right {
  flex: 0.55;
  transform: translateX(20px);
}