.preview-card {
  margin: 2em;
  width: 20em;
  overflow: hidden;
  cursor: pointer;
  padding-bottom: 1em;
}

.preview-card img {
  width: 100%;
  height: 25em;
  object-fit: cover;
}

.preview-card .info-container {
  display: flex;
  flex-direction: row;
  margin: 1em;
  justify-content: space-between;
}

.preview-card .text-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.preview-card .text-container h5 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  color: #000;
}

.preview-card .text-container p {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  color: #808080;
}

.preview-card .icon-container {
  display: flex;
  flex-direction: column;
}

.preview-card .icon-container .icon {
  cursor: pointer;
}

.preview-card .author {
  font-size: 0.7em;
  padding-left: 1em;
}