.recepie-details {
  display: flex;
  flex-direction: row;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
}

.recepie-details .title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recepie-details .ingredients ul li {
    margin-top: 1.1em;
}

.recepie-details .large-title {
  color: black;
  font-size: 24px;
  font-weight: bolder;
}

.recepie-details .small-title {
  color: black;
  font-size: 17px;
  font-weight: bold;
}

.recepie-details .username {
  color: #960000;
  font-size: 14px;
  margin-bottom: 10px;
}

.recepie-details hr {
  width: 100%;
  height: 1px;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: #e0e0e0;
  border: none;
}

.recepie-details .left-container {
  flex: 0.6;
}

.recepie-details .right-container {
  flex: 0.38;
}

.recepie-details .right-container img {
  /* position: sticky;
  top: 0; */
  margin-top: 120px;
  width: 100%;
}

.cooking-step {
    margin-left: 10px;
    position: relative;
    border-left: 3px solid #EBEBEB;
    margin-top: 2em;
    padding-bottom: 2em;
}

.cooking-step .icon {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 0;
    left: -10px;
    border-radius: 50%;
    background-color: #EBEBEB;
}

.cooking-step .title {
    margin-left: 2em;
    font-size: 1em;
    color: #939393;
}

.cooking-step .description {
    margin-left: 2em;
    font-size: 1em;
    margin-top: 1em;
}

.review-card {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.8em;
}
